:root {
    --bs-body-font-family: "Roboto", sans-serif;


}
body{
    overflow-x: hidden;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    justify-content: s;
}
@media(min-width:1000px){
    .car-hed{
        animation: car 1.7s infinite;
    }
    @keyframes car{
        100%,0%{
            translate: -25px -10px;
        }
        50%{
            translate: 25px 10px;
        }
    }
}

.mont-font {
    font-family: "Montserrat", sans-serif;
}

.numbers-bluck {
    background-image: url(../img/caver\ cars.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
}

.nav-link.active {
    color: #0D6EFD;
    border-bottom: 3px solid #0D6EFD;
}

.nav-link {
    color: #3f4040;
}




.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    font-size: 18px;
    background: #444;
    padding: 38px;
    position: relative;
    height: 500px;
}

.tex-info {
    position: absolute;
    bottom: 0;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    margin-top: 50px;
}

.swiper-pagination {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    text-align: center;
}

.cont {
    position: relative;
    height: 535px;
    margin: 30px 0;
}
.wevs{
    position: relative;
    transition: .5s;
}
.wevs:hover{
    scale: 1.05;
}

.wevs .ims{
    background-image: url(../img/1752596559955.png);
    background-size: 300% 70%;
    background-repeat: repeat-x;
    height: 72px;
    position: absolute;
    top: 240px;
    left: 0;
    width: 100%;
    animation: waves 20s linear infinite;
    overflow: hidden;
    
}
@keyframes waves{
    100%,0%{
        background-position: 0 0;
    }
    50%{
        background-position: -1000% 0;
    }
}

.slide1 {
    background-image: linear-gradient(to  top  ,#000000 22%, #ffffff00 50%),url(../img/mer1.jpeg) ;    
    background-size: cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.slide2 {
    background-image: linear-gradient(to  top  ,#000000 20%, #ffffff00 50%),url(../img/oudi.jpeg) ;    
    background-size: cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.slide3 {
    background-image: linear-gradient(to  top  ,#000000 20%, #ffffff00 50%),url(../img/bmw11.jpeg) ;    
    background-size: cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.slide4 {
    background-image: linear-gradient(to  top  ,#000000 20%, #ffffff00 50%),url(../img/oudi22.jpeg) ;    
    background-size: cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.slide5 {
    background-image: linear-gradient(to  top  ,#000000 20%, #ffffff00 50%),url(../img/bmw3.jpeg) ;    
    background-size: cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.slide6 {
    background-image: linear-gradient(to  top  ,#000000 20%, #ffffff00 50%),url(../img/bmw4.jpeg) ;    
    background-size: cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.slide7 {
    background-image: linear-gradient(to  top  ,#000000 20%, #ffffff00 50%),url(../img/bmw5.jpeg) ;    
    background-size: cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.slide8 {
    background-image: linear-gradient(to  top  ,#000000 20%, #ffffff00 50%),url(../img/oudi33.jpeg) ;    
    background-size: cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.slide9 {
    background-image: linear-gradient(to  top  ,#000000 20%, #ffffff00 50%),url(../img/oudi44.jpeg) ;    
    background-size: cover;
    background-position: center;
    /* background-blend-mode: multiply; */
}
.icons:hover{
color: #0D6EFD;
cursor: pointer;
}


/* admin */
.minu-admin{
    width: 200px;
    height: 100%;
}
.obtion{
    width: 95%;
}







.container .card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
}

.card:hover .percent .number h2 span {
  color: #fff;
  transition: 0.5s;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: hsl(180, 98%, 48%);
}

.card1{
    content: "";
    margin: 8px 0px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    transition: 0.2s;
    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.1);
}
.card1:hover{
    box-shadow: 1px 3px 4px 1px hsla(180, 29%, 50%, 0.862);
    cursor: pointer;
}
.card1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 8px;
    height: 100%;
    transition: 0.2s;
}
.card1:hover::before{
    background-color:hsl(180, 29%, 50%) ;
}
.aff::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(180, 29%, 50%);
    width: 8px;
    height: 100%;
    transition: 0.2s;
}
img{
    width: 75px;
    /* margin-right: 20px; */
}
