:root{
    --bs-body-font-family: "Roboto", sans-serif;
    

}
h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    justify-content: s;
}
.numbers-bluck{
    background-image: url(../img/caver\ cars.jpg);
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
}
.nav-link.active{
    color: #0D6EFD;
    border-bottom: 2px solid #0D6EFD;
}
.nav-link{
    color: #3f4040;
}